# IDE
.idea/
.vscode/
*.swp
*.swo

# Project Defaults
_pgbackup/
_pgexport/
pinegrow.json

# System
.DS_Store
Thumbs.db

# Logs
error_log
auth.json

# Temporary/Debug
test.php
info.php
*.bak
*.sql
!admin/sql/*.sql

# Dependencies (if any, though user seems to use manual vendor)
# vendor/
config.php
admin/includes/db.php
